{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "https://frontendie.ru",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": true
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/wp-content/themes/twentynineteen/*",
          "/wp-content/themes/twentyseventeen/*",
          "/wp-content/themes/twentytwenty/*",
          "/wp-content/languages/*",
          "/wp-admin/*",
          "/wp-includes/*",
          "/wp-config.php"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/var/www/frontendie.ru/wp-content/themes/frontendie",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "sftp",
      "history": [
        {
          "file": "index.php",
          "mtimeMs": 1636540687000,
          "date": "2021-12-01T17:33:23.346Z"
        },
        {
          "file": "style.css",
          "mtimeMs": 1646682176384.7246,
          "date": "2022-03-07T19:42:57.389Z"
        },
        {
          "file": "style.css.map",
          "mtimeMs": 1643225997551.7192,
          "date": "2022-01-27T07:13:45.497Z"
        },
        {
          "file": "fonts/fonts",
          "mtimeMs": 1603103449000,
          "date": "2021-08-23T11:00:03.355Z"
        },
        {
          "file": "js/function.js",
          "mtimeMs": 1643226734970.07,
          "date": "2022-01-26T19:52:15.904Z"
        },
        {
          "file": "js/jquery.js",
          "mtimeMs": 1603103449000,
          "date": "2021-08-23T11:00:08.864Z"
        },
        {
          "file": "js/modal.js",
          "mtimeMs": 1603103449000,
          "date": "2021-08-23T11:00:09.398Z"
        },
        {
          "file": "js/slick.min.js",
          "mtimeMs": 1603103449000,
          "date": "2021-08-23T11:00:10.558Z"
        },
        {
          "file": "js/tab.js",
          "mtimeMs": 1603103449000,
          "date": "2021-08-23T11:00:11.080Z"
        },
        {
          "file": "functions.php",
          "mtimeMs": 1646679987953.9978,
          "date": "2022-03-07T19:06:28.854Z"
        },
        {
          "file": "page.php",
          "mtimeMs": 1642873033749.3086,
          "date": "2022-01-22T17:37:14.722Z"
        },
        {
          "file": "template-parts/content-home.php",
          "mtimeMs": 1646681248674.7678,
          "date": "2022-03-07T19:27:29.639Z"
        },
        {
          "file": "header.php",
          "mtimeMs": 1643291258264.0361,
          "date": "2022-01-27T13:47:40.296Z"
        },
        {
          "file": "footer.php",
          "mtimeMs": 1643188254217.1252,
          "date": "2022-01-26T09:10:55.098Z"
        },
        {
          "file": "template-parts/content-page.php",
          "mtimeMs": 1642857905404.8862,
          "date": "2022-01-22T13:25:07.789Z"
        },
        {
          "file": "single.php",
          "mtimeMs": 1629713071000,
          "date": "2021-11-10T10:35:36.139Z"
        },
        {
          "file": "search.php",
          "mtimeMs": 1629713170000,
          "date": "2021-11-10T10:35:35.556Z"
        },
        {
          "file": "archive.php",
          "mtimeMs": 1643207401155.1765,
          "date": "2022-01-26T14:30:02.039Z"
        },
        {
          "file": "404.php",
          "mtimeMs": 1629713402000,
          "date": "2021-11-10T10:35:32.248Z"
        },
        {
          "file": "template-parts/content-none.php",
          "mtimeMs": 1629713477000,
          "date": "2021-11-10T10:36:05.637Z"
        },
        {
          "file": "template-parts/content-search.php",
          "mtimeMs": 1629713515000,
          "date": "2021-11-10T10:36:06.830Z"
        },
        {
          "file": "template-parts/content.php",
          "mtimeMs": 1629713565000,
          "date": "2021-11-10T10:36:07.548Z"
        },
        {
          "file": "LICENSE",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T10:59:55.171Z"
        },
        {
          "file": "README.md",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T10:59:55.684Z"
        },
        {
          "file": "comments.php",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T10:59:56.178Z"
        },
        {
          "file": "composer.json",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T10:59:56.690Z"
        },
        {
          "file": "package.json",
          "mtimeMs": 1642878833297.0127,
          "date": "2022-01-22T19:16:56.813Z"
        },
        {
          "file": "phpcs.xml.dist",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T10:59:58.719Z"
        },
        {
          "file": "readme.txt",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T10:59:59.193Z"
        },
        {
          "file": "screenshot.png",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T10:59:59.740Z"
        },
        {
          "file": "sidebar.php",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T11:00:00.217Z"
        },
        {
          "file": "style-rtl.css",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T11:00:00.750Z"
        },
        {
          "file": "inc/custom-header.php",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T11:00:04.399Z"
        },
        {
          "file": "inc/customizer.php",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T11:00:04.961Z"
        },
        {
          "file": "inc/jetpack.php",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T11:00:05.433Z"
        },
        {
          "file": "inc/template-functions.php",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T11:00:05.988Z"
        },
        {
          "file": "inc/template-tags.php",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T11:00:06.555Z"
        },
        {
          "file": "js/customizer.js",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T11:00:07.651Z"
        },
        {
          "file": "js/navigation.js",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T11:00:09.973Z"
        },
        {
          "file": "languages/frondendie.pot",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T11:00:11.648Z"
        },
        {
          "file": "languages/readme.txt",
          "mtimeMs": 1622459702000,
          "date": "2021-08-23T11:00:12.165Z"
        },
        {
          "file": "package-lock.json",
          "mtimeMs": 1642878833405.012,
          "date": "2022-01-22T19:16:56.327Z"
        },
        {
          "file": "scf/home.php",
          "mtimeMs": 1643279140003.5386,
          "date": "2022-01-27T10:25:40.952Z"
        },
        {
          "file": "fonts/iea.svg",
          "mtimeMs": 1642862114000,
          "date": "2022-01-22T14:38:14.850Z"
        },
        {
          "file": "fonts/iea.ttf",
          "mtimeMs": 1642862114000,
          "date": "2022-01-22T14:38:15.356Z"
        },
        {
          "file": "fonts/iea.woff",
          "mtimeMs": 1642862114000,
          "date": "2022-01-22T14:38:15.912Z"
        },
        {
          "file": "css/locomotive-scroll.min.css",
          "mtimeMs": 1642868888879.7422,
          "date": "2022-01-22T16:33:33.203Z"
        },
        {
          "file": "js/locomotive-scroll.min.js",
          "mtimeMs": 1642868888879.7422,
          "date": "2022-01-22T16:33:33.790Z"
        },
        {
          "file": "js/smooth-scrollbar.js",
          "mtimeMs": 1642878885972.6807,
          "date": "2022-01-22T19:16:57.980Z"
        },
        {
          "file": "scf/project.php",
          "mtimeMs": 1642944517157.0789,
          "date": "2022-01-23T13:28:38.066Z"
        },
        {
          "file": "fonts/SFProDisplay-Bold.eot",
          "mtimeMs": 1550289270000,
          "date": "2022-01-24T19:21:35.886Z"
        },
        {
          "file": "fonts/SFProDisplay-Bold.ttf",
          "mtimeMs": 1550289270000,
          "date": "2022-01-24T19:21:36.514Z"
        },
        {
          "file": "fonts/SFProDisplay-Bold.woff",
          "mtimeMs": 1550289270000,
          "date": "2022-01-24T19:21:37.156Z"
        },
        {
          "file": "fonts/SFProDisplay-Bold.woff2",
          "mtimeMs": 1550289272000,
          "date": "2022-01-24T19:21:37.813Z"
        },
        {
          "file": "fonts/SFProDisplay-BoldItalic.eot",
          "mtimeMs": 1550289288000,
          "date": "2022-01-24T19:21:38.507Z"
        },
        {
          "file": "fonts/SFProDisplay-BoldItalic.ttf",
          "mtimeMs": 1550289288000,
          "date": "2022-01-24T19:21:39.147Z"
        },
        {
          "file": "fonts/SFProDisplay-BoldItalic.woff",
          "mtimeMs": 1550289288000,
          "date": "2022-01-24T19:21:39.822Z"
        },
        {
          "file": "fonts/SFProDisplay-BoldItalic.woff2",
          "mtimeMs": 1550289288000,
          "date": "2022-01-24T19:21:40.513Z"
        },
        {
          "file": "fonts/SFProDisplay-Light.eot",
          "mtimeMs": 1550289268000,
          "date": "2022-01-24T19:21:41.174Z"
        },
        {
          "file": "fonts/SFProDisplay-Light.ttf",
          "mtimeMs": 1550289268000,
          "date": "2022-01-24T19:21:41.921Z"
        },
        {
          "file": "fonts/SFProDisplay-Light.woff",
          "mtimeMs": 1550289268000,
          "date": "2022-01-24T19:21:42.650Z"
        },
        {
          "file": "fonts/SFProDisplay-Light.woff2",
          "mtimeMs": 1550289270000,
          "date": "2022-01-24T19:21:43.314Z"
        },
        {
          "file": "fonts/SFProDisplay-LightItalic.eot",
          "mtimeMs": 1550289278000,
          "date": "2022-01-24T19:21:44.004Z"
        },
        {
          "file": "fonts/SFProDisplay-LightItalic.ttf",
          "mtimeMs": 1550289278000,
          "date": "2022-01-24T19:21:44.686Z"
        },
        {
          "file": "fonts/SFProDisplay-LightItalic.woff",
          "mtimeMs": 1550289278000,
          "date": "2022-01-24T19:21:45.317Z"
        },
        {
          "file": "fonts/SFProDisplay-LightItalic.woff2",
          "mtimeMs": 1550289280000,
          "date": "2022-01-24T19:21:45.981Z"
        },
        {
          "file": "fonts/SFProDisplay-Medium.eot",
          "mtimeMs": 1550289258000,
          "date": "2022-01-24T19:21:46.726Z"
        },
        {
          "file": "fonts/SFProDisplay-Medium.ttf",
          "mtimeMs": 1550289258000,
          "date": "2022-01-24T19:21:47.426Z"
        },
        {
          "file": "fonts/SFProDisplay-Medium.woff",
          "mtimeMs": 1550289258000,
          "date": "2022-01-24T19:21:48.081Z"
        },
        {
          "file": "fonts/SFProDisplay-Medium.woff2",
          "mtimeMs": 1550289260000,
          "date": "2022-01-24T19:21:48.718Z"
        },
        {
          "file": "fonts/SFProDisplay-MediumItalic.eot",
          "mtimeMs": 1550289280000,
          "date": "2022-01-24T19:21:49.374Z"
        },
        {
          "file": "fonts/SFProDisplay-MediumItalic.ttf",
          "mtimeMs": 1550289280000,
          "date": "2022-01-24T19:21:50.079Z"
        },
        {
          "file": "fonts/SFProDisplay-MediumItalic.woff",
          "mtimeMs": 1550289280000,
          "date": "2022-01-24T19:21:50.740Z"
        },
        {
          "file": "fonts/SFProDisplay-MediumItalic.woff2",
          "mtimeMs": 1550289282000,
          "date": "2022-01-24T19:21:51.448Z"
        },
        {
          "file": "fonts/SFProDisplay-Regular.eot",
          "mtimeMs": 1550289286000,
          "date": "2022-01-24T19:21:52.185Z"
        },
        {
          "file": "fonts/SFProDisplay-Regular.ttf",
          "mtimeMs": 1550289286000,
          "date": "2022-01-24T19:21:52.965Z"
        },
        {
          "file": "fonts/SFProDisplay-Regular.woff",
          "mtimeMs": 1550289286000,
          "date": "2022-01-24T19:21:53.627Z"
        },
        {
          "file": "fonts/SFProDisplay-Regular.woff2",
          "mtimeMs": 1550289286000,
          "date": "2022-01-24T19:21:54.311Z"
        },
        {
          "file": "fonts/SFProDisplay-RegularItalic.eot",
          "mtimeMs": 1550289264000,
          "date": "2022-01-24T19:21:55.023Z"
        },
        {
          "file": "fonts/SFProDisplay-RegularItalic.ttf",
          "mtimeMs": 1550289264000,
          "date": "2022-01-24T19:21:55.709Z"
        },
        {
          "file": "fonts/SFProDisplay-RegularItalic.woff",
          "mtimeMs": 1550289264000,
          "date": "2022-01-24T19:21:56.398Z"
        },
        {
          "file": "fonts/SFProDisplay-RegularItalic.woff2",
          "mtimeMs": 1550289264000,
          "date": "2022-01-24T19:21:57.068Z"
        },
        {
          "file": "fonts/SFProDisplay-Semibold.eot",
          "mtimeMs": 1550289282000,
          "date": "2022-01-24T19:21:57.846Z"
        },
        {
          "file": "fonts/SFProDisplay-Thin.eot",
          "mtimeMs": 1550289266000,
          "date": "2022-01-24T19:21:58.574Z"
        },
        {
          "file": "fonts/SFProDisplay-Thin.ttf",
          "mtimeMs": 1550289266000,
          "date": "2022-01-24T19:21:59.316Z"
        },
        {
          "file": "fonts/SFProDisplay-Thin.woff",
          "mtimeMs": 1550289266000,
          "date": "2022-01-24T19:22:00.025Z"
        },
        {
          "file": "fonts/SFProDisplay-Thin.woff2",
          "mtimeMs": 1550289266000,
          "date": "2022-01-24T19:22:00.658Z"
        },
        {
          "file": "fonts/SFProDisplay-ThinItalic.eot",
          "mtimeMs": 1550289280000,
          "date": "2022-01-24T19:22:01.313Z"
        },
        {
          "file": "fonts/SFProDisplay-ThinItalic.ttf",
          "mtimeMs": 1550289280000,
          "date": "2022-01-24T19:22:02.048Z"
        },
        {
          "file": "fonts/SFProDisplay-ThinItalic.woff",
          "mtimeMs": 1550289280000,
          "date": "2022-01-24T19:22:02.775Z"
        },
        {
          "file": "fonts/SFProDisplay-ThinItalic.woff2",
          "mtimeMs": 1550289280000,
          "date": "2022-01-24T19:22:03.459Z"
        },
        {
          "file": "inc/project-item.php",
          "mtimeMs": 1643047154561.3062,
          "date": "2022-01-24T19:22:04.196Z"
        },
        {
          "file": "js/home.js",
          "mtimeMs": 1646682157177.1782,
          "date": "2022-03-07T19:42:38.127Z"
        },
        {
          "file": "archive-projects.php",
          "mtimeMs": 1643212743686.7305,
          "date": "2022-01-26T15:59:04.551Z"
        },
        {
          "file": "inc/categories-page.php",
          "mtimeMs": 1643292186241.2588,
          "date": "2022-01-27T14:03:07.229Z"
        },
        {
          "file": "taxonomy-project-category.php",
          "mtimeMs": 1643214594784.471,
          "date": "2022-01-26T16:29:55.648Z"
        },
        {
          "file": "scf/contacts.php",
          "mtimeMs": 1643210776461.7053,
          "date": "2022-01-27T07:13:46.062Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 4,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": true,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": true,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ],
          "relativePath": "../"
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "pug/index.pug",
        "config": {
          "customOutput": "index.php"
        }
      },
      {
        "file": "scss/style.scss",
        "config": {
          "customOutput": "style.css"
        }
      }
    ]
  }
}
