/* Header
 ----------------------------------------------------------------------------- */
.header {
	padding: 1.9em 0 1.2em;
	z-index: 10;
	position: relative;
	// background-color: #ddd;
	.home & {
		position: absolute;
		width: 100%;
	}

	&__border {
		border-bottom: 1px solid rgba($color_withe, 0.1);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	&__content {
		@extend .container_center;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__left,
	&__right {
		padding-bottom: 0.3em;
		flex-grow: 1;
		max-width: 25.75em;
	}

	&__left {
		// max-width: 25.25em;
	}

	&__right {
		// max-width: 25.25em;
	}

	&__center {
		padding-top: 0.6em;
		padding-bottom: 0.3em;
	}

}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
