$icomoon-font-family: "iea" !default;
$icomoon-font-path: "fonts" !default;

$icon_skype: "\e900";
$icon_mail: "\e901";
$icon_link: "\e902";
$icon_down: "\e903";
$icon_tg: "\e904";
$icon_vk: "\e905";

@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?s2v814") format('truetype'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?s2v814") format('woff'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?s2v814##{$icomoon-font-family}") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon_"],
[class*=" icon_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon_skype {
    &:before {
        content: $icon_skype;
    }
}

.icon_mail {
    &:before {
        content: $icon_mail;
    }
}

.icon_link {
    &:before {
        content: $icon_link;
    }
}

.icon_down {
    &:before {
        content: $icon_down;
    }
}

.icon_tg {
    &:before {
        content: $icon_tg;
    }
}

.icon_vk {
    &:before {
        content: $icon_vk;
    }
}
