@font-face {
    font-family: 'Noah Grotesque';
    src: local('Noah Grotesque Bold'), local('Noah-Grotesque-ExtraBold'), url("fonts/NoahGrotesque-Bold.woff2") format('woff2'), url("fonts/NoahGrotesque-Bold.woff") format('woff'), url("fonts/NoahGrotesque-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Noah Grotesque';
    src: local('Noah Grotesque ExtraBold'), local('Noah-Grotesque-ExtraBold'), url("fonts/NoahGrotesque-ExtraBold.woff2") format('woff2'), url("fonts/NoahGrotesque-ExtraBold.woff") format('woff'), url("fonts/NoahGrotesque-ExtraBold.ttf") format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Noah Grotesque';
    src: local('Noah Grotesque Light'), local('Noah-Grotesque-Light'), url("fonts/NoahGrotesque-Light.woff2") format('woff2'), url("fonts/NoahGrotesque-Light.woff") format('woff'), url("fonts/NoahGrotesque-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Noah Grotesque';
    src: local('Noah Grotesque Medium'), local('Noah-Grotesque-Medium'), url("fonts/NoahGrotesque-Medium.woff2") format('woff2'), url("fonts/NoahGrotesque-Medium.woff") format('woff'), url("fonts/NoahGrotesque-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Noah Grotesque';
    src: local('Noah Grotesque Regular'), local('Noah-Grotesque-Regular'), url("fonts/NoahGrotesque-Regular.woff2") format('woff2'), url("fonts/NoahGrotesque-Regular.woff") format('woff'), url("fonts/NoahGrotesque-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Noah Grotesque';
    src: local('Noah Grotesque Ultra Light'), local('Noah-Grotesque-Ultra-Light'), url("fonts/NoahGrotesque-UltraLight.woff2") format('woff2'), url("fonts/NoahGrotesque-UltraLight.woff") format('woff'), url("fonts/NoahGrotesque-UltraLight.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Noah Grotesque';
    src: local('Noah Grotesque Thin'), local('Noah-Grotesque-Thin'), url("fonts/NoahGrotesque-Thin.woff2") format('woff2'), url("fonts/NoahGrotesque-Thin.woff") format('woff'), url("fonts/NoahGrotesque-Thin.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Noah';
    src: local('Noah Thin'), local('Noah-Thin'), url("fonts/Noah-Thin.woff2") format('woff2'), url("fonts/Noah-Thin.woff") format('woff'), url("fonts/Noah-Thin.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Noah';
    src: local('Noah Regular'), local('Noah-Regular'), url("fonts/Noah-Regular.woff2") format('woff2'), url("fonts/Noah-Regular.woff") format('woff'), url("fonts/Noah-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Noah';
    src: local('Noah Medium'), local('Noah-Medium'), url("fonts/Noah-Medium.woff2") format('woff2'), url("fonts/Noah-Medium.woff") format('woff'), url("fonts/Noah-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Noah';
    src: local('Noah Light'), local('Noah-Light'), url("fonts/Noah-Light.woff2") format('woff2'), url("fonts/Noah-Light.woff") format('woff'), url("fonts/Noah-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Noah';
    src: local('Noah Bold'), local('Noah-Bold'), url("fonts/Noah-Bold.woff2") format('woff2'), url("fonts/Noah-Bold.woff") format('woff'), url("fonts/Noah-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}
